body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
}

.center-text {
  text-align: center;
}
.search-wrapper, .form-wrapper{
    padding:1rem;
}
.search-wrapper{
    background: gray;
}
.form-wrapper{
    background: rgb(251, 244, 173);
}
.add-form{
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
}
.name-field, .age-field {
    display:flex;
    justify-content: space-between;
    margin-bottom:1rem;
}
#alerts{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
.error-popup, .success-popup{
  padding:1rem;
}
.error-popup{
  background-color: red;
}
.success-popup{
  background-color: green;
}
.search-container{
  background-color: rgb(170, 170, 195);
}

@media (max-width: 600px){
  .container{
    flex-direction: column;
  }
}
